* {
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
    margin: 0px !important;
}

a{
    text-decoration: none !important;
}

.black{
    color:black !important;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-small {
    font-size: small;
}

.font-semibold {
    font-weight: 600;
}

.font-x-large {
    font-size: x-large;
}

.font-400{
    font-weight: 400;
}

.font-500{
    font-weight: 500;

}
.text-sm {

    font-size: .875rem;
    line-height: 1.25rem;
    font-weight:300;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.h-auto {
    height: auto;
}

.w-auto {
    width: auto;
}

.gap {
    gap: 0.5rem;
}

.logo {
    width: 2.0rem;
}

.left {
    overflow: auto;
    position: fixed;
    height: 100vh;
    width: 230px;
    top: 0px;
    left: 0px;
    z-index: 999;
    border-right: 1px solid rgba(179, 179, 179, 0.5);
    background: white;
}


.left ul a {
    text-decoration: none;
    color: rgb(90, 90, 90) !important;
    display: flex;
    gap: 10px;
}

.left ul a:hover {
    color: rgb(41, 41, 41) !important;
    cursor: pointer;
}


.right {
    position: relative;
    left: 230px;
    width: calc(100vw - 230px);
}

.searcharea {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.11); */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px;
}

.searcharea form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    
}

.searcharea input[type="text"] {
    border: 0px;
    width: 67vw;
    height: auto;
    padding: 10px 10px;
    
}

.searcharea input[type="text"]:focus {
    outline: 0;
}

.login-button {
    padding: 5px 12px;
    background-color: rgba(255, 128, 30, 0.938);
    border-radius: 0.25rem;
    border-style: none;
    color: white;
}

.login-button:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}

.slider {
    background: url(./img/slider-1.png) no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}

.slider form {
    position: relative;
    top: 10rem;
}

.slider input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.11);
    background: none;
    border-radius: 0.25rem;
    width: 67vw;
    height: auto;
    padding: 10px 10px;
    position: relative;
    top: -10rem;
}

.product-group{
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    margin-right: 20px;
    margin: 20px;
}

.product img{
    height: 13vw;
}